<p>aulas-virtuales works!</p>
<div fxLayout="row">
    <button mat-button style="margin-right: 10px;" routerLink="/aulas-virtuales">Listado cursos</button>
    <button mat-button style="margin-right: 10px;" routerLink="/aulas-virtuales/novedades">Novedades</button>
    <button mat-button style="margin-right: 10px;" routerLink="/aulas-virtuales/trabajo-en-clase">Trabajo en clase</button>
    <button mat-button style="margin-right: 10px;" routerLink="/aulas-virtuales/asistencia-d">Asistencia</button>
    <button mat-button style="margin-right: 10px;" routerLink="/aulas-virtuales/calificaciones-d">Calificaciones</button>
    <button mat-button routerLink="/aulas-virtuales/tutor">Tutor</button>
</div>
<router-outlet></router-outlet>
