.custom-margin-bottom {
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-fill {
    flex: 1;
}

.mr-2 {
    margin-right: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}
