<app-crear-contenido class="crear-contenido"></app-crear-contenido>
<mat-card
    class="daxa-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-content>
        <cdk-accordion class="accordion">
            @for (item of contenidos; track item; let index = $index) {
                <cdk-accordion-item
                    #accordionItem="cdkAccordionItem"
                    class="accordion-item"
                    role="button"
                    tabindex="0"
                    [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index"
                >
                    <div class="accordion-item-header" (click)="accordionItem.toggle()">
                        <mat-icon>{{ item.icono }}</mat-icon>
                        <div class="accordion-item-title-container">
                            <div class="accordion-item-title">{{ item.titulo }}</div>
                            <div class="accordion-item-date">{{ item.fecha }}</div>
                        </div>
                        <i class="ri-arrow-down-s-line" [class.rotated]="accordionItem.expanded"></i>
                    </div>
                    <div
                        class="accordion-item-body"
                        role="region"
                        [style.display]="accordionItem.expanded ? 'block' : 'none'"
                        [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index"
                    >
                        <p>
                            {{ item.descripcion }}                       
                        </p>
                    </div>
                </cdk-accordion-item>
            } </cdk-accordion>
    </mat-card-content>
</mat-card>


