<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <div class="col-lg-4 alert alert-daxa d-flex justify-content-between align-items-center" role="alert" *ngIf="showAlert">
        Usted está en el rol estudiante
        <button type="button" class="close bg-transparent p-0 border-none" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Académico
        </li>
    </ol>
</div>

<!-- Tab -->
<mat-card
    class="daxa-card users-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-content>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Asistencia">
                    <app-asistencia-e></app-asistencia-e>
                </mat-tab>
                <mat-tab label="Calificaciones">
                    <app-calificaciones-e></app-calificaciones-e>
                </mat-tab>
                <mat-tab label="Historial">
                    <app-historial></app-historial>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card-header>
</mat-card>