<div class="card-container">
    <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-content>
            <h5 class="mb-10 mt-20">Nesta Technologies</h5>
            <p>When you enter into any new area of science, you almost always any new area of science find.</p>
            <button mat-flat-button extended class="daxa">
                <mat-icon>favorite</mat-icon>
                Daxa
            </button>        
        </mat-card-content>
    </mat-card>
    <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-content>
            <h5 class="mb-10 mt-20">Nesta Technologies</h5>
            <p>When you enter into any new area of science, you almost always any new area of science find.</p>
            <button mat-flat-button extended class="daxa">
                <mat-icon>favorite</mat-icon>
                Daxa
            </button> 
        </mat-card-content>
    </mat-card>
    <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-content>
            <h5 class="mb-10 mt-20">Nesta Technologies</h5>
            <p>When you enter into any new area of science, you almost always any new area of science find.</p>
            <button mat-flat-button extended class="daxa">
                <mat-icon>favorite</mat-icon>
                Daxa
            </button>
        </mat-card-content>
    </mat-card>
</div>