/* Aquí puedes agregar estilos personalizados para tu componente */
.materias-table {
    .mat-form-field {
      width: 100%;
    }
  }

  .custom-margin-bottom {
    margin-bottom: 15px; // Ajuste del margen inferior
  }
  .custom-margin-top {
    margin-bottom: 15px; // Ajuste del margen inferior
  }
