<mat-card class="daxa-card total-revenue-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <div class="d-flex justify-content-between">
            <div class="title">
                <h5 class="title d-block text-body">
                    Accredited Students
                </h5>
                <div class="number fw-medium lh-1">
                    63%
                </div>
            </div>
            <div class="icon text-center rounded-circle text-white position-relative mi-icono">
                <i class="material-symbols-outlined">
                    verified
                </i>
            </div>
        </div>
        <div class="info d-flex align-items-center justify-content-between">
            <span class="sub-title d-block text-body">
                10% increase compared to last week
            </span>
            <span class="daxa-up-down-badge position-relative">
                <i class="material-symbols-outlined">
                    trending_up
                </i>
                10%
            </span>
        </div>
    </mat-card-content>
</mat-card>