<p>autenticacion works!</p>
<div fxLayout="row">
    <button mat-button style="margin-right: 10px;" routerLink="/autenticacion">Sign In</button>
    <button mat-button style="margin-right: 10px;" routerLink="/autenticacion/sign-up">Sign Up</button>
    <button mat-button style="margin-right: 10px;" routerLink="/autenticacion/forgot-password">Forgot password</button>
    <button mat-button style="margin-right: 10px;" routerLink="/autenticacion/reset-password">Reset password</button>
    <button mat-button style="margin-right: 10px;" routerLink="/autenticacion/confirm-email">Confirm email</button>
    <button mat-button routerLink="/autenticacion/logout">Logout</button>
</div>
<router-outlet></router-outlet>