<mat-card class="daxa-card total-revenue-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <div class="d-flex justify-content-between">
            <div class="title">
                <h5 class="title d-block text-body">
                    Supervised Courses
                </h5>
                <div class="number fw-medium lh-1">
                    6/12
                </div>
            </div>
            <div class="icon text-center bg-warning rounded-circle text-white position-relative">
                <i class="material-symbols-outlined">
                    supervised_user_circle
                </i>
            </div>
        </div>
        <div class="info d-flex align-items-center justify-content-between">
            <span class="sub-title d-block text-body">
                Until now 50% of the courses
            </span>
            <span class="daxa-up-down-badge position-relative">
                <i class="material-symbols-outlined">
                    lists
                </i>
                50%
            </span>
        </div>
    </mat-card-content>
</mat-card>